<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Adjunto_manual" value="C:\inetpub\wwwroot\ARecetas\adjunto_manual" />
     <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <connectionStrings>
    <add name="cadenaConexion" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARRECETAS;uid=sa;pwd=Pr0c3s4d0r" />
	<add name="cadenaConexion_arsysusers" providerName="System.Data.SqlClient" connectionString="server=172.16.20.3;database=ARSYSUSERS;uid=sa;pwd=Pr0c3s4d0r" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" name="appNameAuth" />
    </authentication>
    <sessionState timeout="525600" />
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="93000" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>